:root {
    --navy: #262a45;
    --mintGreen: #62B6B7;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

#about {
    display: block;
    padding: 3em 5rem 4em 5rem;
    background: var(--navy);
}

.header {
    display: block;
    padding: 8em 5rem 4em 5rem;
}

.header .action {
    box-shadow: inset 0 0 0 1px var(--purple);
    color: var(--purple);
}

.header .action:hover {
    color: var(--mustard);
}

#about p {
    font-size: 18px;
    padding: 2rem;
    color: white;
}

section .purple {
    color: var(--purple);
    font-size: 18px;
}

section .blue {
    color: var(--blue);
    font-size: 18px;
}

section .header {
    background: var(--navy);
}