:root {
    --navy: #262a45;
    --mintGreen: #71ad9e;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

footer {
    padding: 3em 5rem 2em 5rem;
}

#contactFooter.expanded {
    height: 100%;
}

#contact {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-page {
    padding-top: 8rem;
}

/* .contact-page h2 {
    border-image: linear-gradient(90deg, rgba(215, 132, 125, 1) 24%, rgba(208, 167, 128, 1) 72%, rgba(125, 178, 173, 1) 100%);
} */

.contact-item img {
    width: 40px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    transition: filter 0.05s;
}

.contact-item p {
    visibility: hidden;
    margin-top: 5px;
    transition: visible 0.05s, color 0.05s;
    text-align: center;
}

.contact-item:nth-child(1):hover img {
    filter: invert(80%) sepia(9%) saturate(2015%) hue-rotate(161deg) brightness(86%) contrast(90%);
}

.contact-item:nth-child(2):hover img {
    filter: invert(52%) sepia(22%) saturate(657%) hue-rotate(208deg) brightness(93%) contrast(97%);
}

.contact-item:nth-child(3):hover img {
    filter: invert(84%) sepia(24%) saturate(4589%) hue-rotate(306deg) brightness(96%) contrast(75%);
}

.contact-item:nth-child(1):hover p {
    color: var(--blue)
}

.contact-item:nth-child(2):hover p {
    color: var(--purple)
}

.contact-item:nth-child(3):hover p {
    color: var(--coral);
}

footer p {
    text-align: center;
}