.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    width: 40%;
    height: 30vh;
    max-height: 30em;
    min-height: 23em;
    overflow: hidden;
}

.tiles article {
    width: 40%;
    height: 30vh;
    max-height: 30em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
}

.tiles article h3 {
    font-size: 40px;
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
    width: 60%;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
    opacity: 0.7;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    transition: background 0.3s;
    transform: translateY(62%);
    transition: transform 0.3s;
    padding: 2em;
}

.tile:hover .image-overlay {
    transform: translateY(0);
}


#upperhand {
    background-color: rgb(236, 141, 129);
}

#yeolde {
    background-color: rgb(231, 183, 136);
}

#habitual {
    background-color: rgb(141, 130, 196);
}

#liberty {
    background-color: rgb(135, 197, 164);
}


@media screen and (max-width: 1010px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 57.5%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 42.5%;
    }

}

@media screen and (max-width: 1000px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 55%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 45%;
    }

}

@media screen and (max-width: 990px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 52.5%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 47.5%;
    }

}


@media screen and (max-width: 980px) {

    .tiles article {
        width: 50% !important;
    }

}

@media screen and (max-width: 740px) {

    .tiles {
        display: block;
    }

    .tiles article {
        height: 16em;
        max-height: none;
        min-height: 0;
        height: 20em;
        width: 100% !important;
    }

    .tiles article h3 {
        font-size: 1.5em;
    }

}

.icons a {
    margin: 0px 5px;
}

.icons img {
    width: 40px;
    filter: invert(14%) sepia(11%) saturate(2406%) hue-rotate(195deg) brightness(98%) contrast(92%);
}

.icons {
    display: block;
    position: absolute;
    top: 37vh;
    left: 2em;
}

#liberty .icons a:hover {
    filter: invert(21%) sepia(76%) saturate(428%) hue-rotate(115deg) brightness(94%) contrast(93%);
}

#habitual .icons a:hover {
    filter: invert(29%) sepia(12%) saturate(1984%) hue-rotate(347deg) brightness(95%) contrast(87%);
}

#yeolde .icons a:hover {
    filter: invert(23%) sepia(11%) saturate(1861%) hue-rotate(348deg) brightness(92%) contrast(86%);
}

#upperhand .icons a:hover {
    filter: invert(13%) sepia(73%) saturate(985%) hue-rotate(328deg) brightness(90%) contrast(91%);
}