@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@400;500;600;700&display=swap');

:root {
    --navy: #262a45;
    --mintGreen: #62B6B7;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

#wrapper {
    display: flex;
    flex-direction: column;
}

section {
    display: block;
}

.banner,
.skills {
    min-height: 12em;
    padding: 8em 5rem 4em 5rem;
}

.topBanner {
    min-height: 21.5rem;
    padding-top: 70px;
}

.topBanner .content {
    display: flex;
    justify-content: space-between;
}

.topBanner .action {
    min-width: 100px;
}

.banner span {
    font-size: 40px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.skills .skills_table,
.banner .content {
    text-transform: uppercase;

}

.skills {
    background: var(--gradient);
}

.skills h2 {
    color: white;
    border-bottom: 1px solid white;
    border-image: none;
}

.skills .skills_table {
    border-collapse: collapse;
}

.skills_table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills .table_item {
    text-align: center;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.3);
    border: 1px solid white;
}

@media screen and (max-width: 850px) {

    .skills_table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .table_item:nth-child(3) {
        grid-column: span 2;
    }
}

@media screen and (max-width: 550px) {

    .skills_table {
        display: block;
    }
}

.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 30em;
    min-height: 30em;
    overflow: hidden;
}

.tiles article {
    width: 40%;
    overflow: hidden;
    position: relative;
    min-height: 30em;
}

.tiles article h3 {
    font-size: 40px;
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
    width: 60%;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
}

.tile article:nth-child(4n - 1),
.tile article:nth-child(4n - 2) {
    width: 60%;
}

.tile overlay-item img {
    object-fit: cover;
    transition: filter 0.3s;
    opacity: 0.7;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background 0.3s;
    transform: translateY(23.5em);
    transition: transform 0.3s;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.tile:hover .image-overlay {
    transform: translateY(0);
}


.coral {
    background-color: rgb(236, 141, 129);
}

.mustard {
    background-color: rgb(231, 183, 136);
}

.purple {
    background-color: rgb(141, 130, 196);
}

.green {
    background-color: rgb(135, 197, 164);
}


@media screen and (max-width: 1010px) {

    .tile overlay-items article:nth-child(2),
    .tile overlay-items article:nth-child(3) {
        width: 57.5%;
    }

    .tile overlay-items article:nth-child(1),
    .tile overlay-items article:nth-child(4) {
        width: 42.5%;
    }

}

@media screen and (max-width: 1000px) {

    .tile overlay-items article:nth-child(2),
    .tile overlay-items article:nth-child(3) {
        width: 55%;
    }

    .tile overlay-items article:nth-child(1),
    .tile overlay-items article:nth-child(4) {
        width: 45%;
    }

}

@media screen and (max-width: 990px) {

    .tile overlay-items article:nth-child(2),
    .tile overlay-items article:nth-child(3) {
        width: 52.5%;
    }

    .tile overlay-items article:nth-child(1),
    .tile overlay-items article:nth-child(4) {
        width: 47.5%;
    }

}


@media screen and (max-width: 980px) {

    .tile overlay-items article {
        width: 50% !important;
    }

}

@media screen and (max-width: 740px) {

    .tile overlay-items {
        display: block;
    }

    .tile overlay-items article {
        height: 16em;
        max-height: none;
        min-height: 0;
        height: 20em;
        width: 100% !important;
    }

    .tile overlay-items article h3 {
        font-size: 1.5em;
    }

}

.icons a {
    margin: 0px 5px;
    filter: invert(15%) sepia(51%) saturate(529%) hue-rotate(194deg) brightness(89%) contrast(93%);
}

.icons img {
    width: 40px;
    height: 40px;
}

.icons {
    margin-top: auto;
}

.icons a:hover {
    filter: brightness(1.5);
}