@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@400;500;600;700&display=swap');

:root {
    --navy: #262a45;
    --mintGreen: #71ad9e;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

html,
body,
#wrapper {
    background-color: white;
    color: var(--navy);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

* {
    color: var(--navy);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    font-family: 'Noto Sans Kawi', sans-serif;
    font-size: 16px;
    letter-spacing: .2rem;
}

.action {
    padding: 20px 20px 15px 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--mintGreen);
    color: var(--mintGreen);
    transition: color 0.25s 0.085s;
    position: relative;
    background: none;
    border: none;
    white-space: nowrap;
}

.action:before,
.action:after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.action:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.action:after {
    border-top-width: 1px;
    border-right-width: 1px;
}

.action:hover {
    color: var(--mustard);
}

.action:hover:before,
.action:hover:after {
    border-color: var(--mustard);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.action:hover:before {
    transition-delay: 0s, 0s, 0.25s;
}

.action:hover:after {
    transition-delay: 0s, 0.25s, 0s;
}


h1,
h2 {
    display: block;
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    border-image: var(--gradientP2G);
    border-image-slice: 1;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
}

.subtitle {
    color: #262a45
}

@media (max-width: 1040px) {
    * {
        font-size: 14px;
    }
}

.coral {
    background-color: var(--coral);
}

.mustard {
    background-color: var(--mustard);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.green {
    background-color: var(--mintGreen);
}

.turquoise {
    background-color: var(--turquoise);
}

.text-purple {
    color: var(--purple);
}

.text-blue {
    color: var(--blue);
}

/* append a div with class="image-overlay" and a second class depending on the index of the object  */