@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

:root {
    --navy: #262a45;
    --mintGreen: #7db2ad;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 1em 20px;
    text-transform: uppercase;
    background-color: white;
    z-index: 5;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    float: left;
    margin-right: auto;
}

.logo img:hover {
    fill: var(--mintGreen);
}

.logo img {
    width: 40px;
}

.logo:hover {
    color: var(--mintGreen)
}

;

#navbar a {
    text-decoration: none;
}

#nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0rem 2rem;
    align-self: right;
}

#nav-links ul li {
    display: inline;
    margin: 0 20px;
    transition: all 0.3s ease 0s;
}

/* #nav-links li:hover a, */
#menu-toggle a:hover {
    border-bottom: 1px solid var(--mintGreen);
    color: var(--mintGreen);
}

#nav-links li:hover:nth-child(1) a {
    border-bottom: 1px solid var(--purple);
    color: var(--purple);
}

#nav-links li:hover:nth-child(2) a {
    border-bottom: 1px solid var(--turquoise);
    color: var(--turquoise);
}

#nav-links li:hover:nth-child(3) a {
    border-bottom: 1px solid var(--mustard);
    color: var(--mustard);
}

#nav-links li:hover:nth-child(4) a {
    border-bottom: 1px solid var(--coral);
    color: var(--coral);
}

#menu-toggle {
    display: none;
    padding: 0rem 2rem;
    cursor: pointer;
    margin-left: auto;
}

#menu-toggle a {
    transition: all 0.3s ease 0s;
}

/* Media query for smaller screens (less than 800px) */
@media (max-width: 870px) {
    #nav-links {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    /* Modal styles */
    #menu-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 6;
        background: rgba(38, 42, 69, 0.7);
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        text-transform: uppercase;
    }

    #close-btn {
        text-align: right;
        color: white;
        margin-left: auto;
    }

    .modal-content {
        width: 80%;
        max-width: 300px;
        margin: 30vh auto;
        padding: 20px;
        border-radius: 5px;
        position: relative;

    }

    .modal-content * {
        color: white;
    }

    .modal-content ul li {
        transition: all 0.3s ease 0s;
    }

    .modal-content ul li:hover a,
    #close-btn:hover {
        color: var(--mintGreen);
    }

    .close {
        position: absolute;
        margin-left: auto;
        font-size: 40px;
        cursor: pointer;
    }

    .modal ul {
        list-style: none;
        padding: 0;
    }

    .modal ul li {
        text-align: center;
        padding: 15px 0;
    }

    .modal ul li:not(:first-child) {
        border-top: 0.75px solid white;
    }
}

@media (min-width: 871px) {

    #menu-modal {
        display: none;
    }
}