:root {
    --navy: #262a45;
    --mintGreen: #62B6B7;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --purplel: #b4afd4;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradientP2G: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
    --gradientO2B: linear-gradient(90deg, rgba(208, 167, 128, 1) 37%, rgba(98, 182, 183, 1) 65%, rgba(112, 183, 210, 1) 92%);
}

.header {
    display: block;
    padding: 8em 5rem 4em 5rem;
}

section p {
    font-size: 16px;
    color: white;
}

h2 {
    border-image: var(--gradientO2B);
    border-image-slice: 1;
    margin-bottom: 40px;
}

.tiles {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: row;
    height: 25em;
    min-height: 25em;
    overflow: hidden;
}

.tile {
    padding: 2em;
}

.tile,
.img-tile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
}

.img-tile {
    width: 60%;
    object-fit: cover;
}

.tile h3 {
    font-size: 40px;
}

.icons a:hover {
    filter: brightness(1.5);
}

.icons a {
    margin: 0px 5px;
    filter: invert(15%) sepia(51%) saturate(529%) hue-rotate(194deg) brightness(89%) contrast(93%);
}

.icons img {
    width: 40px;
    height: 40px;
}

.icons {
    margin-top: auto;
}

@media screen and (max-width: 1035px) {

    .tile {
        width: 57.5%;
    }

    .img-tile {
        width: 42.5%;
    }

    .tile p,
    .tile span {
        font-size: 13px;
    }


}


@media screen and (max-width: 1000px) {

    .tile {
        width: 55%;
    }

    .img-tile {
        width: 45%;
    }

}

@media screen and (max-width: 990px) {

    .tile {
        width: 52.5%;
    }

    .img-tile {
        width: 47.5%;
    }

    .tile h2 {
        font-size: 16px;
    }

}


@media screen and (max-width: 980px) {

    .tile,
    .img-tile {
        width: 50% !important;
    }
}

@media screen and (max-width: 700px) {

    .tiles {
        display: flex;
        flex-direction: column;
    }

    .tile {
        max-height: none;
        min-height: 0;
        height: 23em;
        width: 100% !important;
    }

    .img-tile {
        display: none;
    }

    .icons img {
        width: 35px;
        height: 35px;
    }

}