:root {
    --navy: #262a45;
    --mintGreen: #62B6B7;
    --turquoise: #70b7d2;
    --purple: #827ab6;
    --coral: #d7847d;
    --mustard: #d0a780;
    --blue: #8ba1d7;
    --gradient: linear-gradient(45deg, rgba(130, 122, 182, 1) 16%, rgba(139, 161, 215, 1) 34%, rgba(112, 183, 210, 1) 51%, rgba(113, 173, 158, 1) 70%);
}

.header {
    display: block;
    padding: 8em 5rem 4em 5rem;
}

section p {
    font-size: 18px;
    color: #ffffff;
}

h2 {
    border-image: linear-gradient(90deg, rgba(208, 167, 128, 1) 37%, rgba(98, 182, 183, 1) 65%, rgba(112, 183, 210, 1) 92%);
    border-image-slice: 1;
    margin-bottom: 40px;
}


.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 30em;
    min-height: 30em;
    overflow: hidden;
}

.tiles article {
    width: 40%;
    overflow: hidden;
    position: relative;
    min-height: 30em;
}

.tiles article h3 {
    font-size: 40px;
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
    width: 60%;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.coral {
    background-color: var(--coral);
}

.mustard {
    background-color: var(--mustard);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.green {
    background-color: var(--mintGreen);
}

.turquoise {
    background-color: var(--turquoise);
}

.icons a:hover {
    filter: brightness(1.5);
}

.icons a {
    margin: 0px 5px;
    filter: invert(15%) sepia(51%) saturate(529%) hue-rotate(194deg) brightness(89%) contrast(93%);
}

.icons img {
    width: 40px;
    height: 40px;
}

.icons {
    margin-top: auto;
}

@media screen and (max-width: 1035px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 57.5%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 42.5%;
    }

    .tile p,
    .tile span {
        font-size: 13px;
    }


}

@media screen and (max-width: 1000px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 55%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 45%;
    }

}

@media screen and (max-width: 990px) {

    .tiles article:nth-child(2),
    .tiles article:nth-child(3) {
        width: 52.5%;
    }

    .tiles article:nth-child(1),
    .tiles article:nth-child(4) {
        width: 47.5%;
    }

    .tile h2 {
        font-size: 16px;
    }

}


@media screen and (max-width: 980px) {

    .tiles article {
        width: 50% !important;
    }
}

@media screen and (max-width: 700px) {

    .tiles {
        display: flex;
        flex-direction: column;
    }

    .tiles article {
        max-height: none;
        min-height: 0;
        height: 23em;
        width: 100% !important;
    }

    .img-tile {
        display: none;
    }

    .icons img {
        width: 35px;
        height: 35px;
    }

}